main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin-top: 60px;
}
.tilesWrap {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
}
.tilesWrap li {
  display: inline-block;
  width: 20%;
  min-width: 200px;
  max-width: 150px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  height: 10vh;
  background: #262a2b;
  border: 5px solid #252727;
  text-align: left;
}
.tilesWrap li h2 {
  font-size: 30px;
  margin: 0;
  position: absolute;
  opacity: 0.5;
  top: 30px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}

.tilesWrap li button {
  background: transparent;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 19px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  opacity: 0;
  overflow: hidden;
}
.tilesWrap li button:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 120%;
  background: #fffdfd;
  top: 0;
  opacity: 0;
  left: -140px;
  border-radius: 0 20px 20px 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li:hover button {
  transform: translateY(-9px);
  opacity: 1;
}
.tilesWrap li button:hover {
  color: #000000;
}
.tilesWrap li button:hover:before {
  left: 0;
  opacity: 1;
}
.tilesWrap li:hover h2 {
  top: 3px;
  opacity: 1;
}

.tilesWrap li:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 90%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(1):before {
  background: linear-gradient(to right, #00d9ff, #fcf8f981);
}
.tilesWrap li:nth-child(2):before {
  background: linear-gradient(to right, #008cff, #fcf8f981);
}
.tilesWrap li:nth-child(3):before {
  background: linear-gradient(to right, #0051ff, #fcf8f981);
}
.tilesWrap li:nth-child(4):before {
  background: linear-gradient(to right, #2f00ff, #fcf8f981);
}
.tilesWrap li:nth-child(5):before {
  background: linear-gradient(to right, #6002db, #fcf8f981);
}
.tilesWrap li:nth-child(6):before {
  background: linear-gradient(to right, #b700ff, #fcf8f981);
}
.tilesWrap li:nth-child(7):before {
  background: linear-gradient(to right, #ff00f2, #fcf8f981);
}
.tilesWrap li:nth-child(8):before {
  background: linear-gradient(to right, #ff00b3, #fcf8f981);
}
.tilesWrap li:nth-child(9):before {
  background: linear-gradient(to right, #ff0055, #fcf8f981);
}
.tilesWrap li:nth-child(10):before {
  background: linear-gradient(to right, #ff0000, #fcf8f981);
}
.tilesWrap li:nth-child(11):before {
  background: linear-gradient(to right, #ff8800, #fcf8f981);
}
.tilesWrap li:nth-child(12):before {
  background: linear-gradient(to right, #ffc400, #fcf8f981);
}
.tilesWrap li:nth-child(13):before {
  background: linear-gradient(to right, #e5ff00, #fcf8f981);
}
.tilesWrap li:nth-child(14):before {
  background: linear-gradient(to right, #7bff00, #fcf8f981);
}
.tilesWrap li:nth-child(15):before {
  background: linear-gradient(to right, #00ff22, #fcf8f981);
}
